/* Import Material Design theme */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';


/* ----------------------------------------------------------------- */
/* --------------------------- Overrides --------------------------- */
/* ----------------------------------------------------------------- */

/* BLUE THEME */
body.blueTheme .md-primary,
body.blueTheme .md-input-underline .md-input-ripple,
body.blueTheme md-ink-bar {
  background: #1f3984 !important;
  text-shadow: 1px 1px 2px #000;
}
body.blueTheme .md-accent {
  background: #006ab4 !important;
  color: #fff !important;
  text-shadow: 1px 1px 2px #000 !important;
}
body.blueTheme .md-warn {
  background: #F44336 !important;
}
body.blueTheme .md-placeholder-required,
body.blueTheme .md-focused {
  /* SAME AS PRIMARY, just for text color */
  color: #1f3984 !important;
}
body.blueTheme md-progress-circle path,
body.blueTheme md-spinner path {
  /* SAME AS PRIMARY, just for stroke */
  stroke: #1f3984 !important;
}
body.blueTheme md-button[disabled] {
  background: #909090 !important;
  color: #fff !important;
}

/* ----------------------------------------------------------------- */
/* ---------------------------- STYLING- --------------------------- */
/* ----------------------------------------------------------------- */

html,
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background: #eee;
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.app {
  height: 100%;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.contentBox {
  padding: 5px;
  background: lightgray;
  margin-bottom: 20px;
}

button[md-raised-button] md-icon,
button[md-flat-button] md-icon,
button[md-button] md-icon,
a[md-button] md-icon {
  position: relative;
  top: 7px;
}

md-input.smallSize .md-input-wrapper {
  margin: 0;
}

/* LAYOUT (FLEX PARENT) STYLES */

.layoutCenter {
  justify-content: center;
}
.layoutSpace {
  justify-content: space-around;
}
.layoutSpread {
  justify-content: space-between;
}
.layoutEnd {
  justify-content: flex-end;
}
.layoutWrap {
  flex-wrap: wrap;
}
.layoutAlignCenter {
  align-items: center;
}

.layoutRow {
  display: flex;
  flex-direction: row;
}
.layoutRow.reverse {
  flex-direction: row-reverse;
}
.layoutCol {
  display: flex;
  flex-direction: column;
}
.layoutCol.reverse {
  flex-direction: col-reverse;
}

/* LAYOUT ITEM (FLEX CHILD) STYLES */

.itemFlex {
  flex: 1;
}

.itemAlignStart {
  align-self: flex-start;
}

.itemAlignCenter {
  align-self: center;
}

.itemAlignEnd {
  align-self: flex-end;
}

.itemVerticalAlignTop {
  vertical-align: top;
}

.itemVerticalAlignMiddle {
  vertical-align: middle;
}
.itemVerticalAlignBottom {
  vertical-align: bottom;
}

/* TEXT STYLES */

.textAlignLeft {
  text-align: left;
}
.textAlignCenter {
  text-align: center;
}
.textAlignRight {
  text-align: right;
}
