<md-sidenav-layout class="articlesPage">


    <md-sidenav #filters align="start" mode="over"
                class="filters">
      <md-toolbar color="accent">
        <h2>Filters</h2>
      </md-toolbar>
      <div class="filtersInner layoutCol layoutCenter">

        <div class="filtersBox layoutCol layoutCenter">
          <h4>Categories [NYI]</h4>
          <button md-raised-button [md-menu-trigger-for]="categories" class="itemAlignCenter" disabled>
            <md-icon>filter_list</md-icon> CategoryChoice {{filterOptions.catref}}
          </button>
          <md-menu #categories="mdMenu" >
            <button md-menu-item>Cat1</button>
            <button md-menu-item>Cat2</button>
          </md-menu>
        </div>

        <div class="filtersBox layoutCol layoutCenter">
          <h4>Price Range [NYI]</h4>
          <md-input type="number" disabled
                    placeholder="from"
                    [(ngModel)]="filterOptions.price[0]">
                    {{filterOptions.price[0]}}
          </md-input>
          <md-input type="number" disabled
                    placeholder="to"
                    [(ngModel)]="filterOptions.price[1]">
                    {{filterOptions.price[1]}}
          </md-input>
        </div>

        <div class="filtersBox layoutCol layoutCenter">
          <h4>Date Range [NYI]</h4>
          <md-input type="date" disabled
                    placeholder="from"
                    [(ngModel)]="filterOptions.fromDate">
                    {{filterOptions.fromDate}}
          </md-input>
          <md-input type="date" disabled
                    placeholder="to"
                    [(ngModel)]="filterOptions.toDate">
                    {{filterOptions.toDate}}
          </md-input>
        </div>
        <button md-raised-button class="itemAlignCenter" (click)="applyFilters(); filters.toggle();">
          <md-icon>search</md-icon> Apply Filters
        </button>

      </div>


    </md-sidenav>




    <div class="menuBox">

      <div class="menuBoxInner layoutRow layoutSpread layoutWrap">

        <div class="itemFlex filtersDiv">
          <button md-raised-button (click)="filters.toggle()" class="itemAlignCenter">Filters</button>
        </div>
        <div class="itemFlex layoutRow layoutCenter searchDiv">
          <md-input type="search" class="smallSize itemAlignCenter"
                    floatingPlaceholder="false" divider="false"
                    no-ink="true" placeholder="Search articles.."
                    (change)="setNameFilter($event.target.value)">
                    {{nameFilter}}
          </md-input>
        </div>


        <div class="itemFlex layoutRow layoutEnd displayDiv">
          <button md-raised-button [md-menu-trigger-for]="sorting" class="sortButton itemAlignCenter">
            <md-icon>sort</md-icon> Sort by {{sortBy}}
          </button>

          <button md-raised-button [md-menu-trigger-for]="listMode" class="listModeButton itemAlignCenter">
            <md-icon>{{listingModes[currentListingMode].icon}}</md-icon> {{listingModes[currentListingMode].type}}
          </button>
        </div>


      </div>




      <div class="tagsBox" [ngClass]="{'expanded': filterOptions.tags.length > 0 }" >
        <button class="tag"
                md-raised-button *ngFor="let tag of filterOptions.tags"
                (click)='setTagFilter(tag)'>
                <md-icon color="primary">label</md-icon> {{tag}}
        </button>
      </div>

      <md-menu #sorting="mdMenu">
        <button md-menu-item *ngFor="let sortOption of sortingOptions" (click)="setSortOption(sortOption)">
          {{sortOption}}
        </button>
      </md-menu>

      <md-menu #listMode="mdMenu" >
        <button md-menu-item *ngFor="let mode of listingModes; let i = index;" (click)="setListingMode(i)">
          <md-icon>{{mode.icon}}</md-icon> {{mode.type}}
        </button>
      </md-menu>


      <!-- messages -->
      <!--
      <div *ngIf="articles.length > 0 && loading == false" class="layoutRow layoutCenter itemFlex">
        <span>{{articles.length}} articles found</span>
      </div>
      -->
      <div *ngIf="articles.length == 0 && loading == false" class="layoutRow layoutCenter itemFlex">
        <span>No Articles found matching your query.</span>
      </div>
    </div>



  <div class="articlesContainer">
    <!-- Box View  -->
    <div class="layoutRow layoutWrap boxView" *ngIf="listingModes[currentListingMode].type == 'Box'">
      <!-- <ArticleComponent
          *ngFor="let article of articles | orderBy : 'price' : 'name' " [article]='article' class="article" (tag)='setTagFilter($event)'>
      </ArticleComponent> -->
      <ArticleComponent
          *ngFor="let article of articles" [article]='article' class="article" (tag)='setTagFilter($event)'>
      </ArticleComponent>
    </div>
    <!-- List View  -->
    <div *ngIf="listingModes[currentListingMode].type == 'List'">
      <ArticleSmallComponent
        *ngFor="let article of articles" class="article" [article]='article'
      >
      </ArticleSmallComponent>
    </div>


    <div class="articlesFooter">
      <div class="layoutRow layoutCenter itemFlex totalArticles">
        Showing {{articles.length}} of {{totalKnownArticles}} Articles.
      </div>
      <div class="layoutRow layoutCenter itemFlex" *ngIf="(loading == false) && (articles.length < totalKnownArticles)">
        <button md-raised-button class="itemAlignCenter" (click)='getMoreArticles()'>
          More
        </button>
      </div>
      <div class="layoutRow layoutCenter itemFlex" *ngIf="loading == true">
        <md-spinner class="app-spinner"></md-spinner>
      </div>
    </div>
  </div>



</md-sidenav-layout>
