.articlesPage {
  background: lightgray;
}

.article {
  flex: 1;
  flex-basis: 33%;  /* force equal width */
  max-width: 100%;
  min-width: 300px;
  margin: 0 5px 10px 5px;
}

.filters {
  background: #ddd;
}
.filtersInner {
  margin-top: 10px;
}

.filtersInner > * {
  margin: 5px 10px;
}

.filtersBox {
  background: #e7e7e7;
  padding: 10px;
}
.filtersBox h4 {
  margin-bottom: 5px;
}

.menuBox,
.articlesContainer {
  margin: 10px;
}

.menuBox {
  padding: 10px;
  background: #e7e7e7;
  margin-bottom: 10px;
}
.menuBox .layoutEnd button {
  margin-left: 10px;
}

@media screen and (max-width: 750px) {
  .menuBox .filterDiv,
  .menuBox .displayDiv {
    flex-basis: 50%;
  }
  .menuBox .displayDiv {
    order: 2;
  }
  .menuBox .searchDiv {
    flex-basis: 100%;
    margin: 20px;
    order: 3;
  }
}


.searchIcon {
  font-size: 35px;
  top: 7px;
}

.tagsBox {
  padding-top: 10px;
  display: none;
}
.tagsBox.expanded {
  display: block;
}
.tagsBox .tag {
  margin: 0 10px 10px 0;
}

.boxView {
  margin: 0 -5px; /* Counter the left / right margin of the articles themselves. cheap dirty fix */
}

.articlesFooter {
  padding: 20px;
}
.articlesFooter .totalArticles {
  margin-bottom: 10px;
}
