md-card.noPadding {
  padding: 0;
}
md-toolbar {
  padding: 0 5px;
}
.articleHeaderContainer {
  display: flex;
  width: 100%;
}

.posterImg {
  padding-right: 20px;
  padding-bottom: 10px;
  font-size: 50px;
  margin-top: -7px; /* hack.. */
  flex: 1;
}

.price {
  text-align: right;
  flex: 2;
}
.articleName {
  flex: 5;
}

.articleImageContainer {
  height: 400px; /* 400px Works better than 150px with our stock imgs */
  position: relative;
  overflow: hidden;
}
.articleImageContainer.small {
  height: 45px;
  width: 45px;
  margin-right: 10px;
}

.articleImageContainer img {
  position: absolute; /* DONT SET IT TO RELATIVE; MAKES IT BUG OUT WHEN "READ MORE" BUTTON IS PRESSED! */
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;

}

.articleBody {
  padding: 10px;
}

.tag {
  margin: 2px 3px;
  padding: 0 5px;
}

.dateTable {
  border-collapse: collapse;
  border-spacing: 0;
}
.dateIcon {
  font-size: 2em;
}
