
<md-card class="noPadding">
  <md-toolbar color="primary" class="articleHeader">
    <div class="articleHeaderContainer layoutRow layoutSpread">
      <md-icon class="posterImg">face</md-icon>
      <div class="articleName layoutCol">
        <h4>{{article.name}}</h4>
        <h6>{{article.intro}}</h6>
        <!-- limit the size of intro? -->
      </div>
      <h5 class="price itemAlignCenter">{{article.price}} NOK</h5>
    </div>
  </md-toolbar>

  <div class="layoutCol layoutSpace">
    <div *ngIf="article.imgLink && article.imgLink[0]"
          class="articleImageContainer">
          <img src="{{article.imgLink[0]}}" alt="article Image">
    </div>
    <div class="articleBody">
      <button class="tag"
              md-raised-button *ngFor="let tag of article.tags"
              (click)='onTagClick($event, tag)'>
              <md-icon>label</md-icon> {{tag}}
      </button>

      <p>{{article.txt}}</p>
      <div class="layoutRow layoutSpread">
        <table class="dateTable">
          <tr>
            <td><span class="dateLabel">From:</span></td>
            <td><span class="time">{{article.fromDate | date: 'dd/MM/yyyy'}}</span></td>
          </tr>
          <tr>
            <td><span class="dateLabel">To:</span></td>
            <td><span class="time">{{article.toDate | date: 'dd/MM/yyyy'}}</span></td>
          </tr>
        </table>
        <button [routerLink]="['/article', article.id ]" md-raised-button
                color="accent" class="itemAlignEnd"
        >
                Read more
        </button>
      </div>
    </div>
  </div>

</md-card>
