
<md-card class="layoutRow layoutSpread">
  <div class="layoutRow">
    <div *ngIf="article.imgLink && article.imgLink[0]"
          class="articleImageContainer small">
          <img src="{{article.imgLink[0]}}" alt="article Image">
    </div>
    <div>
      <h3>{{article.name}}</h3>
      <h4>{{article.intro}}</h4>
    </div>
  </div>
  <md-card-content>
    <table class="dateTable">
      <tr>
        <td><span class="dateLabel">From:</span></td>
        <td><span class="time">{{article.fromDate | date: 'dd/MM/yyyy'}}</span></td>
      </tr>
      <tr>
        <td><span class="dateLabel">To:</span></td>
        <td><span class="time">{{article.toDate | date: 'dd/MM/yyyy'}}</span></td>
      </tr>
    </table>
  </md-card-content>
  <div class="itemAlignEnd">
    <div class="layoutCol">
      <h4 class="price">{{article.price}} NOK</h4>
      <a [routerLink]="['/article',article.id]" md-raised-button
         color="accent"
         class="itemAlignEnd"

      >
        Read more
      </a>
    </div>
  </div>
</md-card>
