<md-card>
    <h2 class="header">Add article</h2>
<!--
    <input type="file" ng2FileSelect [uploader]="uploader" name="avatar"/>
    <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td *ngIf="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><md-icon>done</md-icon></span>
                        <span *ngIf="item.isCancel"><md-icon>cancel</md-icon></span>
                        <span *ngIf="item.isError"><md-icon>delete</md-icon></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs"
                                (click)="item.upload(); updateImageName(item?.file?.name);" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                              <md-icon>file_upload</md-icon> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs"
                                (click)="item.cancel()" [disabled]="!item.isUploading">
                            <md-icon>cancel</md-icon> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"
                                (click)="item.remove()">
                            <md-icon>delete</md-icon> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>



       -->

      <div class="container">



          <div class="row">

              <div class="col-md-3">

                  <h3>Select files</h3>

                  <div ng2FileDrop
                       [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                       (fileOver)="fileOverBase($event)"
                       [uploader]="uploader"
                       class="well my-drop-zone">
                      Drop files here or
                  </div>

                  choose files here
                  <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>
              </div>

              <div class="col-md-9" style="margin-bottom: 40px">

                  <h3>Upload queue</h3>
                  <p>Queue length: {{ uploader?.queue?.length }}</p>

                  <table class="table">
                      <thead>
                      <tr>
                          <th width="50%">Name</th>
                          <th>Size</th>
                          <th>Progress</th>
                          <th>Status</th>
                          <th>Actions</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of uploader.queue">
                          <td><strong>{{ item?.file?.name }}</strong></td>
                          <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                          <td *ngIf="uploader.isHTML5">
                              <div class="progress" style="margin-bottom: 0;">
                                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                              </div>
                          </td>
                          <td class="text-center">
                            <span *ngIf="item.isSuccess"><md-icon>done</md-icon></span>
                            <span *ngIf="item.isCancel"><md-icon>cancel</md-icon></span>
                            <span *ngIf="item.isError"><md-icon>delete</md-icon></span>
                          </td>
                          <td nowrap>
                              <button md-raised-button color="primary" type="button" class="btn btn-success btn-xs"
                                      (click)="item.upload(); togleReady();" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                    <md-icon>file_upload</md-icon> Upload
                              </button>
                              <button md-raised-button color="accent" type="button" class="btn btn-warning btn-xs"
                                      (click)="item.cancel()" [disabled]="!item.isUploading">
                                  <md-icon>cancel</md-icon> Cancel
                              </button>
                              <button md-raised-button color="warn" type="button" class="btn btn-danger btn-xs"
                                      (click)="item.remove()">
                                  <md-icon>delete</md-icon> Remove
                              </button>
                          </td>
                      </tr>
                      </tbody>
                  </table>

                  <div>
                      <div>
                          Queue progress:
                          <div class="progress" style="">
                              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                          </div>
                      </div>
                      <button md-raised-button color="primary" type="button" class="btn btn-success btn-s"
                              (click)="uploader.uploadAll(); togleReady();" [disabled]="!uploader.getNotUploadedItems().length">
                          <span class="glyphicon glyphicon-upload"></span> Upload all
                      </button>
                      <button md-raised-button color="accent" type="button" class="btn btn-warning btn-s"
                              (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                          <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                      </button>
                      <button md-raised-button color="warn" type="button" class="btn btn-danger btn-s"
                              (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                          <span class="glyphicon glyphicon-trash"></span> Remove all
                      </button>
                  </div>

              </div>

          </div>

      </div>

      <!--sdsd -->
    <br>
    <form name="form"
          (ngSubmit)="addArticle()"
          #f="ngForm"novalidate
          class="loginForm">
      <md-input style="flex: none;" type="text" name="name" [(ngModel)]="model.name" #name="ngModel" required  placeholder="Name of article"></md-input>
      <md-input style="flex: none;" type="text" name="intro" [(ngModel)]="model.intro" #intro="ngModel" required  placeholder="intro"></md-input>
      <md-input style="flex: none;" type="text" name="txt" [(ngModel)]="model.txt" #txt="ngModel" required  placeholder="txt"></md-input>
    <!--  <md-input style="flex: none;" type="text" name="imgLink" [(ngModel)]="model.imgLink" #imgLink="ngModel" required  placeholder="imgLink"></md-input>-->
      <md-input style="flex: none;" type="text" name="tags" [(ngModel)]="model.mytags" #mytags="ngModel" required  placeholder="tags"></md-input>

      <md-input style="flex: none;" type="number" name="price" [(ngModel)]="model.price" #price="ngModel" required  placeholder="price"></md-input>
      <md-input style="flex: none;" type="text" name="active" [(ngModel)]="model.active" #active="ngModel" required  placeholder="active"></md-input>
      <md-input style="flex: none;" type="number" name="lat" [(ngModel)]="model.lat" #lat="ngModel" required  placeholder="lat"></md-input>
      <md-input style="flex: none;" type="number" name="lng" [(ngModel)]="model.lng" #lng="ngModel" required  placeholder="lng"></md-input>




      <div>
        <button md-raised-button color="accent" [(disabled)]="!areYouReady || loading">Add article</button>
        <md-checkbox [(checked)]="areYouReady" align="end" (change)="togleReady()" >
          I am ready
        </md-checkbox>
        <md-spinner *ngIf="loading" class="app-spinner"></md-spinner>
        <p *ngIf="error" color="warn">{{error}}</p>
      </div>
    </form>
</md-card>
