<div>
  <div *ngIf="user">
    <md-toolbar color="primary">
      <div class="layoutCol layoutCenter">
        <h3>{{ user.firstName }} {{ user.lastName }}</h3>
        <span>{{user.email}}</span>
      </div>
    </md-toolbar>
    <div class="userPanel layoutCol layoutCenter">
      <!-- TODO: fix links. -->
      <button md-raised-button disabled (click)="toggleSideNav($event)" [routerLink]="['/login']">
        <md-icon>shopping_cart</md-icon>
        My Items [NYI]
      </button>
      <button md-raised-button disabled (click)="toggleSideNav($event)" [routerLink]="['/login']">
        <md-icon>person</md-icon>
        My Profile [NYI]
      </button>
      <button md-raised-button (click)="toggleSideNav($event)" [routerLink]="['/add_article']">
        <md-icon>add</md-icon>
        Add article
      </button>
      <button md-raised-button (click)="toggleSideNav($event)" [routerLink]="['/login']" class="login">
        <md-icon>directions_run</md-icon>
        Log Out
      </button>
      <button md-raised-button (click)="toggleSideNav($event)" [routerLink]="['/my_account']" class="settings" >
        <md-icon>settings</md-icon>
        Settings
      </button>
    </div>
  </div>
  <div *ngIf="!user" class="layoutCol layoutCenter">
    <md-toolbar color="primary">
      <h3 class="itemFlex textAlightCenter">User Panel</h3>
    </md-toolbar>
    <div class="userPanel layoutCol layoutCenter">
      <span>You are currently not logged in.</span>
      <button md-raised-button [routerLink]="['/login']" class="login">
        <md-icon>person</md-icon>
        Log In
      </button>
    </div>
  </div>
</div>
