
.app-sidenav {
  background: #ddd;
  min-width: 100px;
}

md-toolbar div.layoutRow {
  width: 100%;
}


.app-content md-card {
  margin: 20px;
}

md-sidenav-layout {
  background: none;
}

div.box {
  margin: -10px 20px;
}

.icon {
  font-size: 30px;
  margin-right: 3px;
  text-align: center;
}

.del {
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

.footer {
  margin: 60px 20px;
  color: #444;
  font-size: 0.85em;
}
.footer span {
  margin: 5px;
}
.footer span.divider {
  margin: 0 15px;
}
