<!-- main app container -->
<md-sidenav-layout class="app">
  <!-- sidebar box that shows up -->
  <md-sidenav #sidenav mode="over" class="app-sidenav">
    <UserPanelComponent (onToggleSide)="sidenav.toggle()"></UserPanelComponent>
  </md-sidenav>
  <div class="wrapper">
    <!--toolbar -->
    <md-toolbar color="primary" >
      <div class="layoutRow layoutSpread">
        <!-- sidebar toggle -->
        <button class="itemAlignCenter" (click)="sidenav.toggle()" >
          <md-icon>menu</md-icon>
        </button>
        <h1 class="del" [routerLink]="['/']">Del.nu</h1>
        <span></span>
      </div>
    </md-toolbar>
    <navigationbar></navigationbar>

    <!-- main app content -->
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>


    <!-- footer -->
    <div class="layoutRow layoutCenter footer del">
      <div class="layoutCol textAlignCenter">
        <span>Group 2</span>
        <span>Uyen Dan Nguyen <span class="divider">|</span> Henry Skorpe Sjøen  <span class="divider">|</span>  Trygve Sørensen</span>
        <span>Marius Oscar Moe <span class="divider">|</span> Sigve Andre Evensen Skaugvoll <span class="divider">|</span> Minh Hai Pham</span>
        <br />
        <span>del.nu</span>
      </div>
    </div>
  </div>
</md-sidenav-layout>
