<md-card>
  <h2 class="header">Register</h2>
  <div *ngIf="!registered">
    <form name="form"
          (ngSubmit)="register()"
          #f="ngForm"novalidate
          class="layoutCol layoutCenter registerForm">
      <md-input type="text" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required  placeholder="First name"></md-input>
      <md-input type="text" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required  placeholder="Last name"></md-input>
      <md-input type="text" name="email" [(ngModel)]="model.email" #email="ngModel" required  placeholder="Email"></md-input>
      <md-input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="Password"></md-input>
      <div>
        <button [disabled]="loading" md-raised-button color="accent">Register</button>
        <md-spinner *ngIf="loading" class="app-spinner"></md-spinner>
        <p *ngIf="error" color="warn">{{error}}</p>
      </div>
    </form>
  </div>
  <div *ngIf="registered">
    <p>
      An email has been sent to your email account with a verification link
      You have to verify before you can login
    </p>
    <button md-raised-button  [routerLink]="['/login']" class="login">
      <md-icon>vpn_key</md-icon>
      Log In
    </button>
  </div>
</md-card>
