<div>
  <h1>Settings</h1>
  <md-tab-group>
    <md-tab>
      <template md-tab-label>Account</template>
      <template md-tab-content>
        <h3>Some tab content</h3>
        <br>
        <md-card>
          <p>Email </p>
          <md-input placeholder="{{user.email}}" #newEmail maxlength="100" class="demo-full-width"
            (keyup.enter)="changeEmail(newEmail.value)">
          </md-input>
          <button (click)="changeEmail(newEmail.value)" md-raised-button color="primary">Change email</button>
        </md-card>

        <md-card>
          <p>Delete account </p>
            <button md-raised-button color="warn" (click)="delete()">WARN</button>
        </md-card>

      </template>
    </md-tab>
    <md-tab>
      <template md-tab-label>Two</template>
      <template md-tab-content>
        <h1>Some more tab content</h1>
        <p>...</p>
      </template>
    </md-tab>
  </md-tab-group>
</div>
