

<md-toolbar color="primary" class="articleHeader">
  <h3>Recently viewed items</h3>
</md-toolbar>
<ArticleSmallComponent
  *ngFor="let article of articles" class="article" [article]='article'>
</ArticleSmallComponent>
