
<div class="navbar layoutRow layoutCenter flex-container">

  <button md-button [routerLink]="['/']" class="giveMeSpace flex-item">
    <md-icon>home</md-icon>Home
  </button>

  <!-- <span class="delimiter">|</span> -->
  <button md-button [routerLink]="['/my_account']" class="giveMeSpace flex-item"><md-icon>account_box</md-icon>My Account</button>
  <!-- <span class="delimiter">|</span> -->
  <button md-button [routerLink]="['/map']" class="giveMeSpace flex-item"><md-icon>map</md-icon>Near you!</button>
  <!-- <span class="delimiter">|</span> -->
  <a href="http://it2810-02.idi.ntnu.no:3000/docs/index.html" md-button class="giveMeSpace flex-item"><md-icon>description</md-icon>Documentation</a>
</div>
