
.navbar {
  padding: 10px;
  background: #e7e7e7;
}
.navbar a {
  margin: 0 10px;
}

a,
a:visited,
a:active {
  color: #000;
}

.giveMeSpace {
  margin-left: 10px;
  margin-right: 10px
}

.flex-container {
  /*padding: 0;*/
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  /*justify-content: space-around;*/
}
