md-card.noPadding {
  padding: 0;
}

.articlesPage {
  background: lightgray;
}

.articleImageContainer {
  position: relative;
  overflow: hidden;
}

.price {
  text-align: right;
  flex: 2;
}

.articleBody {
  padding: 10px;
}

.articleContent {
  background: #f3f3f3;
  padding: 20px;
}

.leftCenterContent {
  width: 45%;
  height: 50%;
  padding: 5px;
}

.rightCenterContent {
  padding: 5px;
}
