<md-card class="articlesPage">
  <div *ngIf="article">
    <div class="layoutCol layoutSpace">
          <md-toolbar color="primary" class="articleHeader">
              <div class="articleName layoutCol itemAlignCenter">
                  <h2>{{article.name}}</h2>
                  <h4>{{article.intro}}</h4>
              </div>
                  <h5 class="price itemAlignCenter" >{{article.price}} NOK </h5>
          </md-toolbar>

          <md-card-content class="layoutRow articleContent">
              <span class="layoutCol leftCenterContent">
                  <span *ngIf="article.imgLink && article.imgLink[0]" class="articleImageContainer">
                     <img src="{{article.imgLink[0]}}" alt="article Image">
                  </span>

                  <h4 *ngIf="article.tags && article.imgLink[0]">Tags:</h4>
                  <br>
                  <h5>{{article.tags}}</h5>
              </span>

              <span class="rightCenterContent itemAlignStart">
                  <h3>Owner: {{article.owner}}</h3>
                  <br>
                  <h4>Description</h4>
                  {{article.txt}}
              </span>
          </md-card-content>

          <div class="layoutCol layoutSpace">
              <button [routerLink]="['/']" md-raised-button
              color="accent" class="itemAlignEnd layoutRow reverse">
                  Request to Borrow
              </button>
              <button
                md-raised-button
                (click)="onBackClick()"
              >
                Go back
              </button>
          </div>
      </div>
  </div>
</md-card>
