<md-card>
  <h2 class="header">Map</h2>
  <sebm-google-map [latitude]="lat" [longitude]="lng">
    <sebm-google-map-marker
      *ngFor="let article of articles; let indx = index"
      [latitude]="article.location.lat"
      [longitude]="article.location.lng"
      [label] = "article.name"
      [title] = "article.name"
      (markerClick)="clickedMarker(article, indx)"
    >
    </sebm-google-map-marker>


  </sebm-google-map>
  <md-card *ngIf="activeArticle">
    <h5>We can reuse the "articlePage" component here?</h5>
    <h2>{{activeArticle.name}} <br/> </h2>
    <img width="200" height="200" src="{{activeArticle.imgLink}}">
    <br/>
    <strong>Description:</strong>
        <br/>
        {{activeArticle.txt}}
        <br/>
    <strong>Availability </strong>
        <br/>
        From: {{activeArticle.fromDate}} <br/>
        To: {{activeArticle.toDate}} <br/>

    <br/>
    <button [routerLink]="['/article', activeArticle.id ]" md-raised-button
            color="accent" class="itemAlignEnd layoutRow reverse"
    >
      Read more
    </button>
    <button
      md-raised-button
      (click)="onBackClick()"
    >
      Go back
    </button>

  </md-card>
</md-card>
