/**
 * importer.scss
 *
 * By default, new Sails projects are configured to compile this file
 * from SASS to CSS.  Unlike CSS files, SASS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The SASS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent SASS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
/**
 * Override bootstrap styles
 */
.navbar-nav {
  margin: 0; }
  @media (min-width: 768px) {
    .navbar-nav {
      margin: 0; } }
  @media (min-width: 768px) {
    .navbar-nav > li {
      float: none; } }

.modal-body {
  width: auto !important; }

/**
 * Custom dropdown styles
 */
.dropdown-menu {
  padding: 0;
  box-shadow: none;
  line-height: 35px;
  background: #f8f8f8;
  border: solid thin #ededed; }
  .dropdown-menu.pull-right {
    right: 0;
    left: auto; }
  .dropdown-menu .dropdown-menu-item {
    color: #808080;
    cursor: pointer;
    padding: 0 12px;
    font-size: 12px; }
    .dropdown-menu .dropdown-menu-item:hover {
      background: #e6e6e6; }
  .dropdown-menu a {
    color: inherit; }
    .dropdown-menu a:hover {
      color: inherit; }
  .dropdown-menu .dropdown-menu-item,
  .dropdown-menu a {
    display: block;
    line-height: inherit; }
  .dropdown-menu > li > a {
    padding: 0;
    color: inherit;
    display: block;
    line-height: inherit; }
    .dropdown-menu > li > a:hover {
      color: inherit;
      background-color: transparent; }

.open > .dropdown-toggle.btn-default:focus {
  border-color: #505050; }

/**
 * Global Notifications
 */
.pm-global-notification-container {
  left: 50%;
  top: 90px;
  width: 900px;
  z-index: 9999;
  text-align: center;
  position: absolute;
  margin-left: -450px; }

.pm-global-notification {
  font-size: 14px;
  margin-top: 5px;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  padding: 10px 50px 10px 10px; }
  .pm-global-notification .is-interactive {
    cursor: pointer;
    text-decoration: underline; }
  .pm-global-notification div.pm-global-notification-close {
    top: 0;
    right: 0;
    width: 40px;
    height: 43px;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 100;
    line-height: 43px;
    position: absolute; }
  .pm-global-notification a {
    color: inherit;
    text-decoration: underline; }

.pm-persistent-notification-container {
  top: 70px;
  width: 100%;
  position: absolute; }
  .pm-persistent-notification-container.is-fixed {
    top: 0;
    position: fixed; }
  .pm-persistent-notification-container .pm-global-notification {
    width: 100%;
    margin-top: 0;
    border-radius: 0;
    text-align: center; }
  .pm-persistent-notification-container div.pm-global-notification-close {
    display: none; }

.pm-global-success {
  background: #d6e9c6;
  color: #468847; }

.pm-global-warning {
  background: #fcf8e3;
  color: #c09853; }

.pm-global-error {
  background: #f2dede;
  color: #b94a48; }

.pm-global-notify {
  background: #4a90e2;
  color: #ffffff; }

#live-documentation-banner.is-hidden {
  display: none; }

@media (max-width: 992px) {
  .pm-global-notification-container {
    left: 0;
    max-width: 900px;
    width: 90.725806452%;
    margin-left: 4.637096774%;
    margin-right: 4.637096774%; } }

/**
 * Pace loader styles
 */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #ef5b25;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px; }

.truncate {
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.no-gutter {
  padding: 0px;
  margin: 0px !important; }

.row-no-padding {
  margin-left: 0;
  margin-right: 0; }
  .row-no-padding [class*="col-"] {
    padding-left: 0;
    padding-right: 0; }

.GET {
  color: #3eb63e; }

.POST {
  color: #f5a623; }

.PATCH {
  color: #666666; }

.PUT {
  color: #4a90e2; }

.DELETE {
  color: #ed4b48; }

button:focus, button:active {
  outline: none !important; }

body {
  -webkit-font-smoothing: antialiased;
  position: absolute;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  left: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
  transition: linear left 0.1s; }
  body .layout {
    height: 100%;
    width: 100%; }
  body .top-bar {
    border-bottom: 1px solid #ececec;
    background-color: white;
    z-index: 9;
    width: 100%;
    height: 70px;
    position: relative; }
    body .top-bar .postman-logo,
    body .top-bar .branded-logo {
      float: left;
      width: 152px;
      height: 56px;
      margin-top: 7px;
      margin-left: 15px;
      background: left center / contain no-repeat; }
    body .top-bar .postman-logo {
      background-image: url("../images/ic-postman-logo@2x.png"); }
    body .top-bar .heading {
      margin-top: 21px;
      margin-left: 9px;
      float: left; }
      body .top-bar .heading .documenter {
        float: left;
        font-size: 18px;
        color: #808080; }
    body .top-bar .top-bar-right {
      margin: 21px 20px 0px 0px;
      float: right; }
      @media (max-width: 47.9em) {
        body .top-bar .top-bar-right {
          margin-right: 10px; } }
      body .top-bar .top-bar-right > div {
        float: left;
        margin-left: 10px; }
        @media (max-width: 47.9em) {
          body .top-bar .top-bar-right > div {
            margin-left: 5px; } }
      body .top-bar .top-bar-right .public-col {
        line-height: 30px; }
      body .top-bar .top-bar-right .dropdown-toggle:after {
        content: normal; }
      body .top-bar .top-bar-right .open-in-postman {
        width: 103px;
        height: 30px;
        background-color: #ef5b25;
        border-radius: 3px;
        font-size: 12px;
        color: white;
        padding: 6px 7px 7px 7px;
        float: left; }
      body .top-bar .top-bar-right .btn {
        border: none;
        position: relative;
        width: 100%;
        height: 30px;
        font-size: 12px;
        border-radius: 3px;
        background-color: #ececec;
        color: #808080;
        padding: 0 30px 0 12px; }
        body .top-bar .top-bar-right .btn.settings-toggle {
          padding: 0;
          width: 30px; }
        body .top-bar .top-bar-right .btn.hard--sides {
          padding: 0 7px; }
      body .top-bar .top-bar-right .public-doc-env .btn {
        padding-right: 10px;
        cursor: default; }
        body .top-bar .top-bar-right .public-doc-env .btn .environment {
          padding-top: 5px; }
      body .top-bar .top-bar-right .user-dropdown .user-name {
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        border-radius: 3px;
        background-color: #ececec;
        color: #808080;
        padding: 0 7px; }
      body .top-bar .top-bar-right .ellipsis {
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      body .top-bar .top-bar-right button span {
        display: block;
        width: 12px;
        height: 8px;
        position: absolute;
        top: 50%;
        right: 11px;
        margin-top: -4px; }
        body .top-bar .top-bar-right button span.icon {
          top: 0px;
          height: 100%;
          margin-top: 2px;
          width: 20px;
          right: 5px; }
      body .top-bar .top-bar-right ul {
        border: none;
        overflow: hidden;
        background-color: #f8f8f8;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
        padding: 0; }
        body .top-bar .top-bar-right ul a {
          text-decoration: none; }
        body .top-bar .top-bar-right ul .dropdown-menu-item {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 12px;
          color: #808080;
          cursor: pointer;
          height: auto;
          background: none; }
          body .top-bar .top-bar-right ul .dropdown-menu-item:hover {
            background: #e4e4e4; }
          body .top-bar .top-bar-right ul .dropdown-menu-item:first-child {
            border-top-right-radius: 3px;
            border-top-left-radius: 3px; }
          body .top-bar .top-bar-right ul .dropdown-menu-item:last-child {
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px; }
      body .top-bar .top-bar-right .languages {
        min-width: 70px; }
        body .top-bar .top-bar-right .languages > ul, body .top-bar .top-bar-right .languages button {
          max-width: 150px; }
      body .top-bar .top-bar-right .environment-dropdown {
        min-width: 100px; }
        body .top-bar .top-bar-right .environment-dropdown > ul, body .top-bar .top-bar-right .environment-dropdown button {
          max-width: 250px; }
      body .top-bar .top-bar-right .user-dropdown {
        max-width: 150px; }
      body .top-bar .top-bar-right .sign-in {
        padding: 5px 15px;
        color: white;
        font-size: 13px;
        height: 30px;
        border-radius: 3px;
        background-color: #f47023;
        width: 70px; }
      body .top-bar .top-bar-right .publish-doc .publish-button {
        position: relative;
        padding-left: 25px;
        padding-right: 11px;
        font-size: 13px;
        background-color: #f47023;
        color: white;
        line-height: 28px; }
      body .top-bar .top-bar-right .publish-doc .publish-button::before {
        content: '';
        background: url("../images/ic-globe.png") no-repeat;
        width: 14px;
        height: 14px;
        position: absolute;
        top: 50%;
        left: 9px;
        margin-top: -7px; }
      body .top-bar .top-bar-right .publish-doc .publish-dropdown .dropdown-toggle {
        background-color: #B8E986;
        color: #468847;
        padding: 0 30px 0 10px; }
      body .top-bar .top-bar-right .publish-doc .publish-dropdown #unpublish_button {
        text-align: left;
        border-top-left-radius: 0;
        border-top-right-radius: 0; }
        body .top-bar .top-bar-right .publish-doc .publish-dropdown #unpublish_button:hover {
          background-color: #B94A48;
          color: white; }
  body .white-background {
    background-color: white; }
  body .modal {
    font-size: 14px; }
    body .modal .close {
      top: 0;
      right: 0;
      z-index: 1;
      opacity: 1;
      color: #808080;
      margin: 20px;
      position: fixed;
      cursor: pointer;
      user-select: none;
      text-decoration: none; }
      body .modal .close:hover {
        color: #000000; }
      body .modal .close div {
        width: 28px;
        height: 28px;
        background: #FFF;
        line-height: 26px;
        border-radius: 50%;
        border: solid thin #808080; }
    body .modal .modal-dialog {
      margin: 0;
      height: 100%;
      overflow: auto;
      padding-top: 50px; }
      body .modal .modal-dialog .modal-content {
        border: none;
        box-shadow: none;
        border-radius: 0px; }
        body .modal .modal-dialog .modal-content .modal-header {
          border-bottom: 0px; }
        body .modal .modal-dialog .modal-content .modal-body pre {
          max-width: 70%;
          margin: 0 auto; }
          @media (max-width: 47.9em) {
            body .modal .modal-dialog .modal-content .modal-body pre {
              max-width: none; } }
        body .modal .modal-dialog .modal-content .modal-body pre:not([class*="language-"]) {
          color: #808080;
          padding: 5px 10px;
          border-radius: 3px;
          background: #fafafa;
          border: solid thin #e6e6e6;
          font-family: Courier, sans-serif; }
          body .modal .modal-dialog .modal-content .modal-body pre:not([class*="language-"]) code {
            border: none; }
        body .modal .modal-dialog .modal-content .modal-body table {
          width: auto; }
    body .modal table {
      margin: 0 auto; }

table {
  width: 100%;
  margin: 10px 0;
  border-radius: 3px;
  border: solid thin #e6e6e6; }
  table th,
  table td {
    max-width: 360px;
    padding: 5px 10px;
    word-break: normal;
    vertical-align: top;
    white-space: pre-line;
    border: solid thin #e6e6e6; }
    table th:first-child,
    table td:first-child {
      border-left: none; }
    table th:last-child,
    table td:last-child {
      border-right: none; }
  table th {
    border-top: none; }
  table tr:last-child th,
  table tr:last-child td {
    border-bottom: none; }

.content {
  background-color: #fbfbfb;
  padding-top: 70px;
  min-height: 100%;
  min-height: calc(100% - 70px); }
  .content .publish-block {
    margin-top: 50px;
    margin-left: 10%;
    width: 80%;
    background-color: white;
    border: 1px solid #ececec;
    border-radius: 3px; }
    .content .publish-block .publish-form {
      padding: 0 40px; }
    .content .publish-block .public-doc-msg {
      background-color: #fcf8e3;
      margin-bottom: 30px;
      color: #c09853;
      font-size: 12px;
      padding: 20px; }
    .content .publish-block .public-doc-info .public-doc-msg {
      margin: 180px 30px 0px 10px; }
    .content .publish-block .publish-heading {
      padding-top: 23px; }
      .content .publish-block .publish-heading .heading {
        font-size: 28px;
        color: #808080;
        padding-bottom: 12px; }
    .content .publish-block .collection-name {
      font-weight: 600;
      font-size: 16px;
      padding-bottom: 30px; }
    .content .publish-block form .environment-heading .choose {
      font-size: 16px;
      color: #808080; }
    .content .publish-block form .environment-heading .learn {
      font-size: 12px;
      color: #a9a9a9;
      margin-bottom: 13px; }
    .content .publish-block form .shared-environment-dropdown {
      width: 90%;
      height: 45px;
      background-color: #fbfbfb;
      margin-bottom: 26px; }
      .content .publish-block form .shared-environment-dropdown .btn {
        position: relative;
        width: 100%;
        height: 45px;
        font-size: 16px;
        border: 1px solid #d8d8d8;
        border-radius: 3px;
        background-color: #fbfbfb;
        color: #808080;
        padding: 0 30px 0 13px; }
      .content .publish-block form .shared-environment-dropdown .dropdown-toggle:after {
        content: normal; }
      .content .publish-block form .shared-environment-dropdown .environment {
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .content .publish-block form .shared-environment-dropdown span {
        display: block;
        width: 12px;
        height: 8px;
        position: absolute;
        top: 50%;
        right: 11px;
        margin-top: -4px; }
      .content .publish-block form .shared-environment-dropdown ul {
        width: 100%;
        background-color: #fbfbfb;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
        border-radius: 3px;
        padding: 0; }
        .content .publish-block form .shared-environment-dropdown ul .dropdown-menu-item {
          display: block;
          padding: 5px 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 16px;
          color: #808080;
          cursor: pointer; }
          .content .publish-block form .shared-environment-dropdown ul .dropdown-menu-item:hover {
            background: #e4e4e4; }
          .content .publish-block form .shared-environment-dropdown ul .dropdown-menu-item:first-child {
            border-top-right-radius: 3px;
            border-top-left-radius: 3px; }
          .content .publish-block form .shared-environment-dropdown ul .dropdown-menu-item:last-child {
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px; }
    .content .publish-block form .slug-heading {
      font-size: 16px;
      color: #808080;
      margin-bottom: 13px; }
    .content .publish-block form .slug {
      resize: none;
      outline: none;
      width: 90%;
      background-color: #fbfbfb;
      margin-bottom: 24px;
      padding: 10px 30px 10px 13px;
      border-radius: 3px;
      border: 1px solid #d8d8d8;
      word-break: break-all;
      color: #808080;
      font-size: 16px; }
    .content .publish-block form .publish-button {
      height: 65px;
      background-color: #ef5b25;
      width: 195px;
      color: white;
      padding: 17px 60px;
      margin-bottom: 50px;
      border-radius: 3px;
      font-size: 22px;
      border: none; }

.globe {
  background: url("../images/ic-globe-gray.png") left center/17px 17px no-repeat;
  padding-left: 20px; }

.public {
  font-size: 14px;
  color: #cccccc; }

.tt-block-publish {
  left: 50%;
  top: 120%;
  opacity: 0;
  width: 200px;
  margin-left: -100px;
  pointer-events: none;
  transition: opacity linear 0.1s; }
  .tt-block-publish.fade.in {
    opacity: 1;
    pointer-events: auto; }
  .tt-block-publish .tooltip-arrow {
    left: 50%;
    top: -10px;
    margin-left: -5px;
    border: solid 5px transparent;
    border-bottom: solid 5px #f8f8f8; }
  .tt-block-publish .tooltip-inner {
    color: #808080;
    background: #ffffff;
    border: solid thin #f8f8f8; }
    .tt-block-publish .tooltip-inner a {
      color: #ef5b25; }

.index {
  border: 1px solid #ececec;
  border-top: 0px;
  border-left: 0px;
  background-color: #f8f8f8;
  color: #808080; }
  .index hr {
    padding-left: 0px;
    color: #ececec; }
  .index .collection-heading {
    padding-left: 11px; }
    .index .collection-heading .heading {
      margin: 20px 10px 0px 0px;
      background-color: #ededed;
      border-radius: 3px;
      padding: 6px 0px 6px 6px;
      color: #808080;
      word-break: break-word;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px; }
    .index .collection-heading .updated-at {
      text-transform: uppercase;
      font-size: 10px;
      margin-top: 10px;
      color: #808080; }
  .index ul.nav {
    list-style-type: none; }
    .index ul.nav > li.request {
      margin-left: 17px; }
    .index ul.nav li.request {
      margin-bottom: 10px;
      position: relative; }
      .index ul.nav li.request .method {
        width: 46px;
        line-height: 1.1;
        text-align: right;
        position: absolute; }
        .index ul.nav li.request .method span {
          font-size: 9px;
          font-weight: 700;
          text-align: left; }
      .index ul.nav li.request .request-name {
        font-size: 12px;
        font-weight: 400;
        color: #808080;
        padding-left: 55px;
        margin-right: 10px;
        word-break: break-all; }
        .index ul.nav li.request .request-name a span {
          color: inherit; }
        .index ul.nav li.request .request-name a:hover {
          text-decoration: underline; }
        .index ul.nav li.request .request-name a.active {
          color: #ef5b25; }
    .index ul.nav li.heading, .index ul.nav li.intro {
      display: block;
      margin: 10px 0; }
      .index ul.nav li.heading .request-name, .index ul.nav li.intro .request-name {
        margin-left: 11px;
        font-size: 12px;
        font-weight: 600;
        padding-left: 0; }
    .index ul.nav li a:hover {
      background-color: inherit;
      color: inherit; }
      .index ul.nav li a:hover .request-name,
      .index ul.nav li a:hover .name {
        text-decoration: underline; }
    .index ul.nav li a.active .request-name, .index ul.nav li a.active .name {
      color: #ef5b25; }
    .index ul.nav li .dropdown-item {
      color: #808080;
      white-space: normal; }
      .index ul.nav li .dropdown-item.active {
        background-color: inherit;
        color: inherit; }
    .index ul.nav li .nav-link {
      padding: 0px; }
    .index ul.nav li.folder {
      background-color: inherit; }
      .index ul.nav li.folder .toggle-folder-collapse {
        height: 30px;
        width: 30px;
        float: left;
        display: inline-block; }
      .index ul.nav li.folder .open {
        padding-left: 6px; }
      .index ul.nav li.folder a {
        color: #808080; }
        .index ul.nav li.folder a dec-padding {
          padding-left: 12px; }
        .index ul.nav li.folder a .name {
          padding: 5px 0px 0px 10px;
          font-weight: 600;
          font-size: 12px; }
      .index ul.nav li.folder .folder-link {
        float: left;
        max-width: 190px; }
        .index ul.nav li.folder .folder-link .active-folder {
          color: #ef5b25; }
      .index ul.nav li.folder .display-requests {
        display: block; }
      .index ul.nav li.folder ul {
        list-style: none;
        padding-left: 40px;
        display: none; }

.pm-doc-sprite {
  background: url("../images/doc_sprites.png") 0 0/200px no-repeat; }
  .pm-doc-sprite.pm-doc-sprite-folder {
    float: left;
    width: 23px;
    height: 24px;
    display: inline-block;
    background-position: -45px -3px; }
    .pm-doc-sprite.pm-doc-sprite-folder:hover {
      cursor: pointer; }
      .pm-doc-sprite.pm-doc-sprite-folder:hover + .folder-link a {
        text-decoration: underline; }
  .pm-doc-sprite.pm-doc-sprite-triangle {
    width: 20px;
    height: 20px;
    background-position: -47px -37px;
    position: relative;
    top: 5px;
    left: 5px; }
    .pm-doc-sprite.pm-doc-sprite-triangle:hover {
      background-color: #e6e6e6; }
  .pm-doc-sprite.pm-doc-sprite-dropdown-caret {
    background-position: -94px -42px; }
  .pm-doc-sprite.pm-doc-sprite-dropdown-caret-green {
    background-position: -131px -41px; }

.folder.open .pm-doc-sprite-folder {
  background-position: -6px -3px; }

.folder.open .pm-doc-sprite-triangle {
  background-position: -8px -36px; }

.info {
  padding-left: 260px; }
  .info::-webkit-scrollbar {
    display: none; }

.expandable {
  margin: 10px 0;
  cursor: pointer;
  min-height: 50px;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  border: solid thin #e6e6e6;
  transition: all linear 0.1s; }
  .expandable.dark-expandable {
    margin: 0;
    border: none; }
    .expandable.dark-expandable:after {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#272822+75,272822+100&0+75,1+100 */
      background: -moz-linear-gradient(top, rgba(39, 40, 34, 0) 75%, #272822 100%), -moz-linear-gradient(left, rgba(39, 40, 34, 0) 75%, #272822 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(39, 40, 34, 0) 75%, #272822 100%), -webkit-linear-gradient(left, rgba(39, 40, 34, 0) 75%, #272822 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(39, 40, 34, 0) 75%, #272822 100%), linear-gradient(to right, rgba(39, 40, 34, 0) 75%, #272822 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
    .expandable.dark-expandable:before {
      background: rgba(255, 255, 255, 0.2); }
  .expandable:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    display: block;
    position: absolute;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+75,1+100 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 75%, white 100%), -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 90%, white 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 75%, white 100%), -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 90%, white 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 75%, white 100%), linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 90%, white 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .expandable:before {
    left: 0;
    right: 0;
    z-index: 1;
    color: #fff;
    width: 100px;
    height: 25px;
    bottom: -40px;
    display: block;
    cursor: pointer;
    font-size: 10px;
    line-height: 25px;
    margin: 10px auto;
    text-align: center;
    position: absolute;
    border-radius: 25px;
    content: 'Click to Expand';
    background: rgba(0, 0, 0, 0.4);
    transition: bottom cubic-bezier(0.22, 0.61, 0.36, 1) 0.1s; }
  .expandable:hover {
    background: #fdfdfd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
    .expandable:hover:before {
      bottom: 0; }
  .expandable.md-table:hover:after {
    background: -moz-linear-gradient(top, rgba(253, 253, 253, 0) 0%, rgba(253, 253, 253, 0) 75%, #fdfdfd 100%), -moz-linear-gradient(left, rgba(253, 253, 253, 0) 0%, rgba(253, 253, 253, 0) 90%, #fdfdfd 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(253, 253, 253, 0) 0%, rgba(253, 253, 253, 0) 75%, #fdfdfd 100%), -webkit-linear-gradient(left, rgba(253, 253, 253, 0) 0%, rgba(253, 253, 253, 0) 90%, #fdfdfd 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(253, 253, 253, 0) 0%, rgba(253, 253, 253, 0) 75%, #fdfdfd 100%), linear-gradient(to right, rgba(253, 253, 253, 0) 0%, rgba(253, 253, 253, 0) 90%, #fdfdfd 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .expandable.md-pre:after {
    background: -moz-linear-gradient(top, rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 0) 75%, #fafafa 100%), -moz-linear-gradient(left, rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 0) 90%, #fafafa 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 0) 75%, #fafafa 100%), -webkit-linear-gradient(left, rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 0) 90%, #fafafa 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 0) 75%, #fafafa 100%), linear-gradient(to right, rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 0) 90%, #fafafa 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .expandable pre, .expandable pre.body-block[class*="language-"] {
    margin: 0;
    overflow: hidden;
    max-height: 200px; }

.api-information {
  padding: 0px 20px 0px 20px; }
  .api-information hr {
    color: #ececec;
    padding-left: 0px;
    margin: 0px; }
  .api-information .heading {
    margin: 15px 0px; }
    .api-information .heading .name {
      word-break: break-word;
      font-weight: normal;
      font-size: 18px; }
    .api-information .heading .method {
      font-size: 16px;
      font-weight: 600;
      margin-right: 5px; }
    .api-information .heading .lock-icon {
      width: 10px;
      height: 13px;
      margin-top: 7px;
      margin-left: 5px;
      display: inline-block;
      background: url("../images/ic-auth@3x.png") 0 0/10px no-repeat; }
  .api-information .description {
    padding-bottom: 20px;
    word-break: break-word;
    font-weight: normal;
    font-size: 14px; }
    .api-information .description tr th, .api-information .description tr td {
      padding-right: 1em; }
  .api-information .collection-name {
    word-wrap: break-word; }
    .api-information .collection-name p {
      color: #505050;
      padding-top: 20px;
      font-weight: normal;
      font-size: 36px; }
  .api-information .folder-name p {
    color: #505050;
    padding-top: 20px;
    font-weight: normal;
    font-size: 32px; }
  .api-information .folder-description,
  .api-information .collection-description {
    font-weight: normal;
    font-size: 14px;
    word-break: break-word; }
  .api-information .collection-description {
    overflow-x: hidden; }
  .api-information .url {
    margin-bottom: 15px;
    word-break: break-all;
    border: 1px solid #e6e6e6;
    padding: 6px 10px;
    border-radius: 3px;
    font-size: 12px;
    color: #808080;
    background-color: #f8f8f8; }
  .api-information .request-body {
    padding-top: 20px; }
    .api-information .request-body .body-heading {
      height: 24px;
      line-height: 24px;
      font-weight: normal;
      font-size: 12px; }
    .api-information .request-body .param {
      margin: 15px 0px; }
      .api-information .request-body .param .name {
        line-height: 24px;
        float: left;
        text-align: left;
        word-break: break-word;
        padding-right: 20px;
        font-weight: bold;
        font-size: 12px; }
      .api-information .request-body .param .value {
        line-height: 24px;
        font-weight: normal;
        font-size: 12px;
        word-break: break-word; }
    .api-information .request-body .bottom-shadow {
      box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.04); }
    .api-information .request-body .raw-body {
      position: relative;
      margin-top: 15px;
      padding-top: 5px; }
      .api-information .request-body .raw-body code {
        overflow: hidden; }
  .api-information .headers {
    word-break: break-all; }
    .api-information .headers .headers-heading {
      height: 24px;
      line-height: 24px;
      margin: 0px;
      font-weight: normal;
      font-size: 12px; }
    .api-information .headers .param {
      margin: 15px 0px; }
      .api-information .headers .param .name {
        line-height: 24px;
        padding-right: 10px;
        font-weight: bold;
        font-size: 12px; }
      .api-information .headers .param .value {
        line-height: 24px;
        font-weight: normal;
        font-size: 12px; }
        @media (max-width: 47.9em) {
          .api-information .headers .param .value {
            width: 100%; } }
  .api-information .attributes .attr-heading {
    height: 24px;
    line-height: 24px;
    margin: 0px;
    font-weight: normal;
    font-size: 12px; }
  .api-information .attributes .attr-name {
    padding-top: 10px;
    font-size: 12px; }
  .api-information .attributes .attr-description {
    font-weight: normal;
    font-size: 12px; }
  .api-information img {
    max-width: 100%; }

.section {
  border-top: solid thin #ececec; }

#intro .section {
  border-top: none; }

.dummy .examples {
  padding: 0; }

.examples {
  border-right: 0px;
  background: #303030; }
  .examples:empty {
    display: none; }
  .examples .sample-request {
    padding: 0px 20px; }
  .examples .heading {
    padding-top: 10px;
    opacity: 0.4;
    color: white;
    font-weight: normal;
    font-size: 12px; }
  .examples .responses-index {
    padding: 0px;
    border: 1px solid #505050;
    border-bottom: 0px;
    height: 30px;
    color: #c5c5c5;
    font-size: 12px; }
    .examples .responses-index .response-name {
      height: inherit;
      line-height: 30px;
      color: white;
      background-color: rgba(255, 255, 255, 0.1); }
      .examples .responses-index .response-name .responses-dropdown {
        width: 100%;
        height: 30px;
        text-align: left;
        border-radius: 0;
        background-color: #444;
        font-size: 12px; }
        .examples .responses-index .response-name .responses-dropdown:hover, .examples .responses-index .response-name .responses-dropdown:focus {
          color: #ffffff; }
      .examples .responses-index .response-name ul {
        width: 100%;
        border: 0px;
        border-radius: 0;
        padding: 0px;
        font-size: 12px;
        background-color: #444; }
        .examples .responses-index .response-name ul li {
          padding: 0px 16px; }
        .examples .responses-index .response-name ul li:hover {
          background-color: rgba(255, 255, 255, 0.1); }
      .examples .responses-index .response-name .languages {
        min-width: 70px; }
        .examples .responses-index .response-name .languages > ul, .examples .responses-index .response-name .languages button {
          max-width: 150px; }
      .examples .responses-index .response-name span {
        left: 5px;
        top: -1px;
        color: white;
        position: relative; }
  .examples .request {
    position: relative;
    overflow-y: hidden;
    border: 1px solid #505050;
    margin: 0px 20px 20px 20px;
    font-size: 12px; }
    .examples .request .formatted-requests {
      display: none; }
    .examples .request .raw-request-object {
      display: none; }
  .examples .response-heading {
    padding: 10px 20px 3px 20px;
    opacity: 0.4;
    font-weight: normal;
    font-size: 12px;
    color: white; }
  .examples .responses {
    position: relative;
    border: 1px solid #505050;
    margin: 0px 20px 30px 20px;
    overflow-y: hidden;
    font-size: 12px; }
    .examples .responses .formatted-responses {
      display: none; }
  .examples .language {
    padding: 5px 15px 5px 85px; }
    .examples .language .language-heading {
      font-size: 12px;
      color: #808080;
      width: 60px;
      position: absolute;
      top: 17px;
      left: 15px; }
    .examples .language .languages {
      width: 100%; }
      .examples .language .languages .dropdown-toggle:after {
        content: normal; }
      .examples .language .languages .btn {
        position: relative;
        width: 100%;
        height: 30px;
        font-size: 12px;
        background-color: #464646;
        color: white;
        padding: 0 30px 0 7px;
        border-radius: 0px;
        text-align: left; }
      .examples .language .languages button {
        border: 1px solid #505050; }
        .examples .language .languages button span {
          display: block;
          width: 12px;
          height: 8px;
          position: absolute;
          top: 50%;
          right: 11px;
          margin-top: -4px; }
      .examples .language .languages ul {
        background-color: #464646;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
        border: none;
        padding: 0;
        width: 100%; }
        .examples .language .languages ul a {
          text-decoration: none; }
        .examples .language .languages ul .dropdown-menu-item {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 12px;
          color: white;
          cursor: pointer; }
          .examples .language .languages ul .dropdown-menu-item:hover {
            background: rgba(247, 247, 247, 0.1); }
          .examples .language .languages ul .dropdown-menu-item:first-child {
            border-top-right-radius: 3px;
            border-top-left-radius: 3px; }
          .examples .language .languages ul .dropdown-menu-item:last-child {
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px; }
  .examples > :first-child {
    padding-top: 10px; }

code[class*="language-"], pre[class*="language-"] {
  text-shadow: none; }

pre[class*="language-"] {
  margin: 0;
  border: none; }

code.body-block[class*="language-"], pre.body-block[class*="language-"] {
  word-break: break-all; }

pre.body-block[class*="language-"] {
  max-height: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-left: none;
  overflow: hidden;
  background-image: none;
  background-size: none; }

code.body-block[class*="language-"] {
  padding: 1em;
  border: solid thin #ececec; }

.code-snippet code {
  font-size: 12px; }

#menu-toggle {
  margin: 0;
  float: left;
  width: 52px;
  height: 70px;
  cursor: pointer;
  background: url('data:image/svg+xml;utf8,<svg width="28px" height="21px" viewBox="0 0 28 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <g id="Home-480px" sketch:type="MSArtboardGroup" transform="translate(-10.000000, -45.000000)" fill="%23808080"> <path d="M35.744,53.2575004 L11.98,53.2575004 C10.886,53.2575004 10,54.1435004 10,55.2375004 C10,56.3315004 10.886,57.2175004 11.98,57.2175004 L35.744,57.2175004 C36.838,57.2175004 37.722,56.3315004 37.722,55.2375004 C37.722,54.1435004 36.838,53.2575004 35.744,53.2575004 L35.744,53.2575004 Z M35.746,49.2975004 C36.84,49.2975004 37.724,48.4115004 37.724,47.3175004 C37.724,46.2235004 36.84,45.3375004 35.746,45.3375004 L11.982,45.3375004 C10.888,45.3375004 10.002,46.2235004 10.002,47.3175004 C10.002,48.4115004 10.888,49.2975004 11.982,49.2975004 L35.746,49.2975004 Z M35.744,61.1775004 L11.98,61.1775004 C10.886,61.1775004 10,62.0635004 10,63.1575004 C10,64.2515004 10.886,65.1375004 11.98,65.1375004 L35.744,65.1375004 C36.838,65.1375004 37.722,64.2515004 37.722,63.1575004 C37.722,62.0635004 36.838,61.1775004 35.744,61.1775004 L35.744,61.1775004 Z" id="ic-menu" sketch:type="MSShapeGroup"></path></g></g></svg>') center no-repeat; }

#mobile-controls {
  padding: 1px 10px 20px;
  background: rgba(0, 0, 0, 0.1); }
  #mobile-controls:not(.is-visible) {
    display: none; }
  @media (min-width: 48em) {
    #mobile-controls {
      display: none; } }
  #mobile-controls label {
    color: #808080;
    display: block;
    font-size: 12px;
    margin: 10px 0 5px;
    font-weight: normal;
    text-transform: uppercase; }
  #mobile-controls .btn-group,
  #mobile-controls .btn {
    width: 100%;
    text-align: left; }
  #mobile-controls .dropdown-menu {
    width: 100%; }

.sidebar {
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  position: fixed;
  padding-top: 70px;
  transition: left linear 0.1s; }
  .sidebar ul.nav {
    margin-bottom: 100px; }
  .sidebar .toc ul {
    padding: 0; }

@media (max-width: 61.9em) {
  html,
  body {
    height: 100%;
    min-width: 320px; }
  html {
    overflow-x: hidden; }
  .sidebar {
    left: -260px; }
  .info {
    padding-left: 0; }
  .collection-heading {
    display: none; }
  .postman-run-button {
    display: none !important; }
  body .top-bar .postman-logo,
  body .top-bar .branded-logo {
    margin-left: 0; }
  body .top-bar .postman-logo {
    width: 55px; }
  body .top-bar .settings-icon {
    background: url("../images/ic-settings.svg") center 4px/18px no-repeat; }
  body.nav-open {
    position: fixed;
    left: 260px; }
    body.nav-open .info {
      overflow: hidden; }
    body.nav-open #menu-toggle {
      background-image: url('data:image/svg+xml;utf8,<svg width="28px" height="21px" viewBox="0 0 28 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <g id="Home-480px" sketch:type="MSArtboardGroup" transform="translate(-10.000000, -45.000000)" fill="%23EF5B25"> <path d="M35.744,53.2575004 L11.98,53.2575004 C10.886,53.2575004 10,54.1435004 10,55.2375004 C10,56.3315004 10.886,57.2175004 11.98,57.2175004 L35.744,57.2175004 C36.838,57.2175004 37.722,56.3315004 37.722,55.2375004 C37.722,54.1435004 36.838,53.2575004 35.744,53.2575004 L35.744,53.2575004 Z M35.746,49.2975004 C36.84,49.2975004 37.724,48.4115004 37.724,47.3175004 C37.724,46.2235004 36.84,45.3375004 35.746,45.3375004 L11.982,45.3375004 C10.888,45.3375004 10.002,46.2235004 10.002,47.3175004 C10.002,48.4115004 10.888,49.2975004 11.982,49.2975004 L35.746,49.2975004 Z M35.744,61.1775004 L11.98,61.1775004 C10.886,61.1775004 10,62.0635004 10,63.1575004 C10,64.2515004 10.886,65.1375004 11.98,65.1375004 L35.744,65.1375004 C36.838,65.1375004 37.722,64.2515004 37.722,63.1575004 C37.722,62.0635004 36.838,61.1775004 35.744,61.1775004 L35.744,61.1775004 Z" id="ic-menu" sketch:type="MSShapeGroup"></path></g></g></svg>'); }
    body.nav-open .sidebar {
      left: 0;
      overflow-y: scroll;
      padding-top: 0 !important; }
      body.nav-open .sidebar .folder {
        padding: 7px 0; } }

@media (min-width: 62em) {
  #doc-body {
    background-image: -webkit-linear-gradient(-90deg, #303030 50%, #ffffff 50%);
    background-image: linear-gradient(-90deg, #303030 50%, #ffffff 50%); }
  .examples {
    background: none; } }

.error {
  padding-top: 70px; }
  .error .row .page-graphic {
    width: 400px;
    margin-top: 58px;
    min-height: 450px;
    background: url("../images/error-dog.png") right center no-repeat; }
    .error .row .page-graphic[class*="error-code-5"] {
      background: url("../images/error-satellite.svg") right top no-repeat; }
    @media (max-width: 480px) {
      .error .row .page-graphic {
        min-height: 260px;
        background-size: 50%; } }
    @media (max-width: 992px) {
      .error .row .page-graphic {
        margin: 0 auto;
        background-position: center center; } }
  .error .row .page-message {
    padding-left: 40px;
    padding-top: 200px; }
    @media (max-width: 992px) {
      .error .row .page-message {
        margin: 0 auto;
        text-align: center;
        padding-left: 15px;
        padding-top: 20px; } }
    .error .row .page-message .page-banner-title {
      color: #808080;
      font-family: "Open Sans", sans-serif;
      font-size: 40px;
      font-weight: 700;
      margin: 45px 0 15px; }
    .error .row .page-message p {
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      color: #333333;
      margin-top: 20px; }

@media (min-width: 34em) {
  .modal-dialog {
    width: auto; } }

@media (max-width: 47.9em) {
  .index {
    border: 0; }
  .info .api-information {
    overflow: hidden; }
  .info #intro .examples {
    background-color: transparent; }
  .folder-examples {
    background-color: transparent; }
  .examples .example-request-heading {
    padding-top: 10px; }
  body .top-bar .top-bar-right .environment-dropdown {
    max-width: 140px; }
  body .top-bar .top-bar-right .languages {
    max-width: 70px; }
  body > div > div.container-fluid.no-gutter > div > div.col-xs-12.info.no-gutter > div.row.row-no-padding.row-eq-height.dummy {
    display: none; } }

@media (min-width: 48em) {
  .index {
    overflow-y: auto;
    border-right: 0px; }
    .index .folder-name span {
      margin-left: 5px; } }

.copy-request {
  background-color: #464646;
  color: #ffffff;
  font-size: 11px;
  right: 0;
  top: 0;
  position: absolute;
  margin: 10px;
  border: none;
  display: none; }
  .copy-request:active, .copy-request:focus {
    color: #ffffff; }
  .copy-request:hover {
    color: #ffffff; }
  .copy-request:after {
    content: attr(data-before-copy); }
  .copy-request.copied {
    background-color: #B8E986;
    color: #468847;
    cursor: default; }
    .copy-request.copied:after {
      content: attr(data-after-copy); }

#rawBodyModal .copy-request-modal {
  display: block;
  position: relative;
  margin: 0; }

.formatted-requests:hover .copy-request:not(.copy-request-modal),
.expandable:hover .copy-request:not(.copy-request-modal) {
  display: block; }

.info {
  color: #808080; }
  .info h1,
  .info h2,
  .info h3,
  .info h4,
  .info h5,
  .info h6 {
    line-height: 1.5;
    color: #505050;
    font-family: "Open Sans", sans-serif; }
  .info h1 {
    margin: 20px 0 10px;
    font-weight: bold;
    font-size: 24px; }
  .info h2 {
    margin: 15px 0 5px;
    font-weight: bold;
    font-size: 20px; }
  .info h3 {
    margin: 10px 0 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px; }
  .info h4 {
    margin: 5px 0;
    font-weight: bold;
    font-size: 16px; }
  .info h5 {
    margin: 5px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px; }
  .info h6 {
    margin: 5px 0;
    font-weight: 600;
    font-size: 14px; }
  .info p {
    color: #808080;
    font-weight: normal;
    font-size: 14px; }
  .info em {
    font-style: italic; }
    .info emstrong {
      font-weight: bold; }
  .info strong {
    font-weight: bold; }
  .info a, .info a:hover, .info a:focus, .info a:active {
    color: #ef5b25; }
  .info .api-information code {
    color: #808080;
    border-radius: 3px;
    background: #FAFAFA;
    border: solid thin #e6e6e6;
    font-family: "Courier", sans-serif; }
  .info .api-information pre {
    color: #808080;
    padding: 5px 10px;
    border-radius: 3px;
    background: #FAFAFA;
    border: solid thin #e6e6e6;
    font-family: "Courier", sans-serif; }
    .info .api-information pre code {
      border: none; }
  .info .api-information .expandable pre {
    margin: 0;
    border: none;
    min-height: 50px; }

blockquote {
  padding-left: 10px;
  border-left: solid 5px #ececec; }

.md-table {
  margin: 10px 0;
  overflow: hidden;
  max-height: 200px; }
  .md-table .md-table-container {
    min-width: 200%; }
  .md-table table {
    min-width: 50%;
    border: none;
    margin: 0; }

.pm-generic-icon {
  display: inline-block;
  background: url("/images/generic_icons.svg") no-repeat;
  background-size: 1366%; }
  .pm-generic-icon.pm-icon-orange-back {
    background-color: #FC906B; }
  .pm-generic-icon.pm-icon-rounded {
    border-radius: 50%; }
  .pm-generic-icon.pm-icon-sm {
    width: 30px;
    height: 30px; }
  .pm-generic-icon.pm-icon-md {
    width: 44px;
    height: 44px; }
  .pm-generic-icon.pm-icon-lg {
    width: 100px;
    height: 100px; }
  .pm-generic-icon.pm-generic-icon-rocket {
    background-position: 19% 13.2%; }
  .pm-generic-icon.pm-generic-icon-people {
    background-position: 80.7% 13.1%; }
  .pm-generic-icon.pm-generic-icon-plan {
    background-position: 65.3% 13.0%; }
  .pm-generic-icon.pm-generic-icon-play {
    background-position: 49.6% 13.2%; }
  .pm-generic-icon.pm-generic-icon-profile {
    background-position: 34.5% 13.2%; }
  .pm-generic-icon.pm-generic-icon-cloud {
    background-position: 3.6% 13.2%; }
  .pm-generic-icon.pm-generic-icon-sync {
    background-position: 96.05% 2.45%; }
  .pm-generic-icon.pm-generic-icon-wallet {
    background-position: 80.7% 2.5%; }
  .pm-generic-icon.pm-generic-icon-home {
    background-position: 65.2% 2.5%; }
  .pm-generic-icon.pm-generic-icon-gear {
    background-position: 49.9% 2.5%; }
  .pm-generic-icon.pm-generic-icon-folder {
    background-position: 34.5% 2.5%; }
  .pm-generic-icon.pm-generic-icon-download {
    background-position: 19.1% 2.3%; }
  .pm-generic-icon.pm-generic-icon-book {
    background-position: 3.4% 2.4%; }
  .pm-generic-icon.pm-generic-icon-gh {
    background-position: 19% 22.9%; }
  .pm-generic-icon.pm-generic-icon-twitter {
    background-position: 3.4% 23.7%; }
  .pm-generic-icon.pm-generic-icon-envelope {
    background-position: 96% 13.1%; }

.promo-banner {
  display: block;
  color: #5B5B5B;
  line-height: 30px;
  position: relative;
  background: #FCF7EB;
  padding: 35px 5px 35px 0; }
  @media (max-width: 640px) {
    .promo-banner {
      padding-right: 70px; } }
  .promo-banner .container {
    max-width: none;
    position: relative;
    padding-left: 180px;
    padding-right: 90px; }
    @media (max-width: 1200px) {
      .promo-banner .container {
        padding-left: 120px; } }
    @media (max-width: 991px) {
      .promo-banner .container {
        padding-left: 15px; } }
  .promo-banner .pm-generic-icon {
    top: 50%;
    left: 82px;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    position: absolute; }
    @media (max-width: 1200px) {
      .promo-banner .pm-generic-icon {
        left: 20px; } }
    @media (max-width: 991px) {
      .promo-banner .pm-generic-icon {
        display: none; } }
  .promo-banner h3 {
    margin-top: 0;
    font-size: 24px;
    font-weight: normal;
    line-height: inherit;
    text-transform: none; }
  .promo-banner span {
    color: #ef5b25;
    font-size: 18px;
    line-height: 23px;
    margin-right: 25px; }
  .promo-banner a {
    color: inherit;
    margin-right: 10px;
    white-space: nowrap;
    text-decoration: underline; }
    .promo-banner a:hover {
      text-decoration: none; }

a.promo-banner:after {
  top: 50%;
  right: 40px;
  width: 20px;
  height: 30px;
  content: ' ';
  line-height: 30px;
  margin-top: -15px;
  position: absolute;
  background: url("/images/ic-right-arrow.svg") center no-repeat; }

a.promo-banner:hover {
  color: #5B5B5B;
  text-decoration: none; }
